<h2>{{ title }}</h2>

<div id ="info" class="card" style="width: 18rem;" align="center">
        <div class="card-body">
        <h5 class="card-title">About Pie Chart</h5>
        <p class="card-text" >Five countries were chosen from <a href="http://databank.worldbank.org/data/reports.aspx?source=2&series=SP.RUR.TOTL.ZS&country=#" target="_blank">The World Bank - World Development Indicators.</a>Using Bootstrap, Angular and D3 layouts with data from previous assignments a website was implemented. A relevant color scheme was also implemented.
        . Pie chart will expand as you hover each section and also display the relevant infromation on a card on the right. As shown India has the highest perecentage rural population, closely followed by China and Portugal</p>
        </div>
    </div>

<div id ="card_info" class="card" style="width: 18rem;" align="center">
    <div class="card-body">
    <h5 class="card-title">Pie Chart Info</h5>
    <p class="card-text" id="card_t">Countries percentage population is being displayed on the chart above. Hover over each section to know more.</p>
    </div>
</div>
<br>
<svg width="960" height="900"></svg>