<h2>{{ title }}</h2>
<svg width="960" height="700"></svg>

<div id ="info" class="card" style="width: 18rem;" align="center">
        <div class="card-body">
        <h5 class="card-title">About Bubble Chart</h5>
        <p class="card-text" >Ten countries were chosen from <a href="http://databank.worldbank.org/data/reports.aspx?source=2&series=SP.RUR.TOTL.ZS&country=#" target="_blank">The World Bank - World Development Indicators.</a>Bubble chart is a different method of representing a hierarchial structure e.g Tree structure. It is not omptimal as the space between circles gets wasted. A relevant color scheme was also implemented.
        Bubble chart: As you hover over  each sub circle, a tooltip will display relevant infromation on the circle. As shown SriLanka has the highest perecentage rural population, closely followed by India and China</p>
        </div>
 </div>